@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 0, 0, 0;
  --background-color: 255, 255, 255;
}


body {
  background: var(--background-color);
  color: var(--foreground-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
